@model GeneticAIApp.Models.GradeViewModel

@{
    ViewData["Title"] = "Редакция";
    var gradeViewModel = ViewData["gradeViewModel"] as GradeViewModel;
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
@*            <div class="form-group">
                <label class="control-label">@gradeViewModel.LableNumberBg()</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label class="control-label">@gradeViewModel.LableNumberBg()</label>
                <select asp-for="Number" class="form-control" asp-items="ViewBag.Number"></select>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@gradeViewModel.LableLatterBg()</label>
                <input asp-for="Letter" class="form-control" />
                <span asp-validation-for="Letter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@gradeViewModel.LableGroupBg()</label>
                <input asp-for="Group" class="form-control" />
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запиши" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно в списъка</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
