@model IEnumerable<GeneticAIApp.Models.SubjectViewModel>

@{
    ViewData["Title"] = "Часове";
}

<h1>Часове</h1>

<p>
    <a asp-action="Create">Създаване на нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Редактирай</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Виж детайли</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
